extends ../layouts/application.pug

block header
  h1.display-4.fw-bold.mt-4= t('layouts.application.tasks') 
  a(href=route('tasks#new')).btn.btn-primary.mb-5= t('views.tasks.new.createButton')

block content
  .card.shadow-sm
    .card-body.p-4
      +formFor()(action=route('tasks#index') method='get')
        .row
          col-12.col-md
            .input-group.mb-3
              label(for='data_status').input-group-text= t('views.tasks.status')
              select(name='status', id='data_status').form-select
                option(value='') #{''}
                each status in taskStatuses
                  - isSelected = status.id===Number(selectedItems.status)
                  option(value=status.id, selected= isSelected) #{status.name}
          col-12.col-md
            .input-group.mb-3
              label(for='data_executor').input-group-text= t('views.tasks.executor')
              select(name='executor', id='data_executor').form-select
                option(value='') #{''}
                each user in users
                  - isSelected = user.id===Number(selectedItems.executor)
                  option(value=user.id, selected= isSelected) #{user.name}
          col-12.col-md
            .input-group.mb-3
              label(for='data_label').input-group-text= t('views.tasks.label')
              select(name='label', id='data_label').form-select
                option(value='') #{''}
                each taskLabel in taskLabels
                  - isSelected = taskLabel.id===Number(selectedItems.label)
                  option(value=taskLabel.id, selected= isSelected) #{taskLabel.name}
        .mb-3.form-check
          - var thisUserFilter = 'isCreatorUser';
          input.form-check-input(name=thisUserFilter, id=`data_${thisUserFilter}`, type='checkbox')
          label(for=`data_${thisUserFilter}`).form-check-label= t('views.tasks.filterActions.chooseMine')
        input(value=t('views.tasks.filterActions.show') type='submit').btn.btn-primary
            
  table.table.table-borderless.table-striped.mt-5.bg-white
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions')
    tbody
      each task in tasks
        tr
          td=task.id
          td
            a(href=route(`tasks#show`, { id: task.id } ))= task.name
          td= task.status.name
          td= task.creator.name
          td= task.executor ? task.executor.name : null
          td= formatDate(task.createdAt)
          td
            div.d-flex.flex-wrap
              a(href=route('tasks#edit', { id: task.id })).btn.btn-primary.me-1= t('views.tasks.edit.submit')
              form(action=route('tasks#destroy', { id: task.id }), method="post")
                input(name="_method", type="hidden", value="delete")
                input(type="submit", value= t('views.statuses.delete.submit')).btn.btn-danger